#searchTint {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    cursor: pointer;
}

#searchResults {
    display: block;
    position: absolute;
    max-width: 500px;
    width: 100%;
    height: auto;
    background: var(--white);
    margin-top: 50px;
    border-radius: 12px;
    z-index: 100;
    overflow: hidden;
}

#searchContainer {
    position: relative;
    max-width: 500px;
    width: 100%;
}

#searchResult:hover {
    background-color: rgba(150, 150, 150,0.1);
}

.descriptionText {
    margin: 0;
    color: var(--gray);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 950px) {
    #searchContainer {
      padding: 0;
    }
}