#searchTint{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    cursor: pointer;
}

#searchResults{
    display: block;
    position: absolute;
    width: 500px;
    height: auto;
    background: rgb(255, 255, 255);
    margin-top: 50px;
    border-radius: 12px;
    z-index: 100;
    overflow: hidden;
}

#searchContainer{
    position: relative;
    width: 500px;
}

#searchResult:hover{
    background-color: rgb(240, 240, 240);
}

.descriptionText {
    margin: 0;
    color: var(--gray);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}