.navbar {
    align-items: center;
    padding: 0;
}
.topBar {
  padding: 0;
  align-items: center;
}
.optionsContainer {
  flex-direction: row;
}
.closeButton {
  display: none;
}
.open {
  display: none;
}

@media screen and (max-width: 950px) {
    .navbar {
      flex-direction: column;
      align-items: baseline;
    }
    .topBar {
      width: 100%;
    }
    .optionsContainer {
      padding: 1rem;
      flex-direction: column;
      box-sizing: border-box;
      position: absolute;
      width: 100vw;
      top: 0;
      left: 0;
      background: var(--white);
      height: 100%;;
    }
    .closeButton {
      display: flex;
      position: relative;
      margin-left: auto;
    }
    .open {
      display: flex;
    }
    .closed {
      display: none;
    }
}